<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project Name</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/default.js"></script>
</head>

<body>
    <h1>Project Name</h1>

    <div class="header">
        <a href="index.html" >Home</a>
        <a href="about.html" id="about">About</a>
        <a href="register.html">Register</a>
        {% if user %}
        <a href="profile.html" class="profile">{{user}}</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="login.html" id="select_color">Login</a>
        {% endif %}
    </div>
    <div>
        <div class="main">
            <div class="description">This is Login Page</div>
            <hr>
            <div class="login">
                <form method="post">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required><br>
                    <label for="password">Password :</label>
                    <input type="password" name="password" id="password" required><br>
                    <input type="submit" value="Login">
                </form>
            </div>
            <p class="casualCase"><a href="forgot.html">Forgot Password</a></p>
            <p class="casualCase">Don't have an account yet? <a href="/register.html">Create one</a></p>
        </div>
    </div>

</body>
</html>